<!DOCTYPE html>
<html lang="en">
<head>
  <title>public-api</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script href="{{url_for('static', filename='js/script.js')}}"></script>
</head>
<body>
    <div class="container" onload="create_link();">
        <h1>Welcome to public API</h1>
        <p>Here you will find all the public APIs you know about and those you didn't know existed</p>

        <!--input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for category..." title="Type in a name"-->
        <label for="myInput">Use the filter to search faster</label>
        <select class="form-select" aria-label="Default select example" id="myInput" onchange="myFunction()" name="select">
          <option selected></option>
            {% for elt in data %}
            <option value="{{elt}}">{{elt}}</option>
            {% endfor %}
        </select>
        {% for table in tables %}
                    {{titles[loop.index]}}
                    {{ table|safe }}
        {% endfor %}
    </div>

<script>
function changeValue (e){
    var x = document.getElementsByTagName('a');

    if(e.matches) {
        for(var i = 0; i < x.length; i++) {
            x[i].text ='here';
        }
    }
    else {
        for(var i = 0; i < x.length; i++) {
            x[i].text =x[i].getAttribute('href');
        }
    }
 }
 var e = window.matchMedia("(max-width: 700px)")
changeValue(e) // Call listener function at run time
e.addListener(changeValue)
//changeValue(e)


function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  //filter = input.options[input.selectedIndex].text.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];

    if (td) {
      txtValue = td.textContent || td.innerText;

      //value = tr[i].getElementsByTagName("td")[5].innerHTML();
      //td_link.innerHTML() = "<a href="+value+">"+value+"</a>"

      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>
</html>
